{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="container">
    <div class="row d-flex justify-content-center my-3">
        <div class="col-md-6 bg-light">
            <div class="row">
                <div class="col-md-6 mt-1">
                    <h3 class="text-primary">Kolamba Kade</h3>
                </div>
                <div class="col-md-6 mt-2">
                    {% for i in customized_order_detail %}
                    <h5 class="text-danger" style="float: right;">Your Order is {{i.status}}</h5>
                    {% endfor %}
                </div>
            </div>
            <hr>
            <div class="row my-3">
                <div class="col my-3">
                    {% for i in customized_order_detail %}
                    <ul>
                        <li>
                            <h6>Order Type: <i>{{i.order_type}}</i></h6>
                        </li>
                        <li>
                            <h6>Front Text: <i>{{i.front_text}}</i></h6>
                        </li>
                        <li>
                            <h6>Back Text: <i>{{i.back_text}}</i></h6>
                        </li>
                        <li>
                            <h6>Color: <i>{{i.color}}</i></h6>
                        </li>
                        {% if i.logo %}
                        <li>
                            <h6>Logo:</h6><img src="{{i.logo.url}}" alt="logo" style="max-height: 100px;">
                        </li>
                        {% else %}
                        <li>
                            <h6>Logo:</h6>
                        </li>
                        {% endif %}
                        <li>
                            <h6>Description: <i>{{i.description}}</i></h6>
                        </li>
                        <li>
                            <h6>Quantity: <i>{{i.quantity}}</i></h6>
                        </li>
                        <li>
                            <h6>Design Image:</h6><img src="{{i.design_image.url}}" alt="design_image"
                                style="max-height: 200px;">
                        </li>
                    </ul>
                    {% endfor %}
                </div>
            </div>
            <a href="{% url 'my_customized_orders' %}" class="btn btn-primary btn-block"><i
                    class="far fa-arrow-alt-circle-left"></i> My Customized Orders</a>
        </div>
    </div>
</div>


{% endblock %}