{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="container">
    <div class="row mt-3">
        {% include 'includes/sidebar.html' %}

        <div class="col-md-9">
            <div class="card">
                <div class="card-header">
                    <strong>Logged in as : </strong>
                    <span>{{user.first_name}} {{user.last_name}}</span>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="card" style="text-align: center;">
                                <div class="card-body">
                                    <h4 class="card-title">Total Orders</h4>
                                    <h4>{{orders_count}}</h4>
                                    <a href="{% url 'my_orders' %}" style="text-decoration: none;">View Orders</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="card" style="text-align: center;">
                                <div class="card-body">
                                    {{user.first_name}} {{user.last_name}} <br>
                                    {{user.email}}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>


{% endblock %}