{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="container">
    <div class="row d-flex justify-content-center">
        <div class="col-md-6">
            <div class="card w-100 mt-5">
                <h3 class=" card-header">Reset Password</h3>
                <div class="card-body">
                    {% for message in messages %}
                    <div class="alert alert-danger" role="alert">
                        {{message}}
                    </div>

                    {% endfor %}
                    <form action="{% url 'reset_password' %}" method="POST">{% csrf_token %}
                        <div class="form-group">
                            <input type="password" class="form-control" placeholder="Enter a password"
                                name="password"><br>
                            <input type="password" class="form-control" placeholder="Confirm password"
                                name="confirm_password">
                        </div>
                        <div class="form-group">
                            <button type="submit" class="btn btn-primary btn-block"> Reset Password </button>
                        </div>
                    </form>
                </div>
            </div>
            <br><br>
        </div>
    </div>
</div>


{% endblock %}