{% extends 'base.html' %}
{% load static %}

{% block content %}
{% if user.is_supplier %}
<div class="container">
    <h1>Supplier</h1>
</div>

{% else %}
<div class="container">
    <img src="static/img/welcome.jpg" class="img-fluid rounded w-100" style="height: 400px;">
    <hr>
    <h3 class="mt-4">Latest Products</h3>
    <div class="row">
        {% for product in products %}
        <div class="col-md-3 my-4">

            <div class="card">

                <a href="{{product.get_details_url}}"><img class="card-img-top" src="{{ product.images.url }}"
                        style="height:250px;" alt="Card image cap"></a>
                <div class="card-body">
                    <a href="{{product.get_details_url}}" style="text-decoration: none;">
                        <h5 class="card-title">{{ product.product_name }}</h5>
                    </a>
                    <h6 class="card-text">$ {{ product.price }}</h6>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>


</div>
{% endif %}
{% endblock %}