{% extends 'base.html' %}
{% load static %}

{% block content %}

{% if not cart_items %}
<div class="container">
    <h2 class="text-center my-4">Your Cart is Empty!</h2><br><br>
    <div class="text-center">
        <a href="{% url 'store' %}" class="btn btn-info"><i class="far fa-arrow-alt-circle-left"></i> Continue
            Shopping</a>
    </div>
</div>

{% else %}
<div class="container">
    <div class="row my-4">
        <div class="col-md-8">
            <div class="card">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Product</th>
                            <th>Quantity</th>
                            <th>Price</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for cart_item in cart_items %}
                        <tr>
                            <td>
                                <img src="{{cart_item.product.images.url}}" style="height: 7vh;">
                                <a href="{{cart_item.product.get_details_url}}" class="text-dark"
                                    style="text-decoration: none;">{{cart_item.product.product_name}}</a>
                                <p class="text-muted small">
                                    {% if cart_item.variations.all %}
                                    {% for item in cart_item.variations.all %}
                                    {{item.variation_category | capfirst}} : {{item.variation_value | capfirst}}<br>
                                    {% endfor %}
                                    {% endif %}
                                </p>
                            </td>
                            <td>{{cart_item.quantity}}

                            </td>
                            <td>
                                <div>
                                    <h6>Rs. {{cart_item.sub_total}}</h6>
                                    <p class="text-muted small">Rs. {{cart_item.product.price}} </p>
                                </div>
                            </td>
                            <td>
                                <div class="btn-group" role="group">

                                    <form action="{% url 'add_to_cart' cart_item.product.id %}" method="POST">
                                        {% csrf_token %}
                                        {% for item in cart_item.variations.all %}
                                        <input type="hidden" name="{{item.variation_category | lower}}"
                                            value="{{item.variation_value | capfirst}}">

                                        {% endfor %}
                                        <button type="submit" class="btn btn-success"><i
                                                class="fas fa-plus"></i></button>
                                    </form>

                                    <a href="{% url 'remove_from_cart' cart_item.product.id cart_item.id %}"
                                        type="button" class="btn btn-warning"><i class="fas fa-minus"></i></a>
                                    <a href="{% url 'remove_all_cart' cart_item.product.id cart_item.id  %}"
                                        class="btn btn-danger">Remove</a>
                                </div>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <div>
                        <div style="float:left"><b>Total Price : </b></div>
                        <div style="float:right"><b>Rs. {{total}}</b></div>
                    </div>
                    <br>
                    <br>
                    <div>
                        <div style="float:left"><b>Discount : </b></div>
                        <div style="float:right"><b>Rs. {{discount}}</b></div>
                    </div>
                    <br>
                    <br>
                    <div>
                        <div style="float:left"><b>Total : </b></div>
                        <div style="float:right"><b>Rs. {{grand_total}}</b></div>
                    </div>
                    <br>
                    <br>
                    <hr>
                    <a href="{% url 'checkout' %}" class="btn btn-primary btn-block"> Checkout </a>
                    <a href="{% url 'store' %}" class="btn btn-dark btn-block"><i
                            class="far fa-arrow-alt-circle-left"></i>
                        Continue Shopping</a>
                </div>
            </div>
        </div>

    </div>
</div>
{% endif %}



{% endblock %}